name: "Метки: Ветка dev"

on:
  pull_request_target:
    types:
      - opened
    branches:
      - 'dev'

jobs:
  add_label:
    runs-on: ubuntu-latest
    steps:
    - uses: actions-ecosystem/action-add-labels@v1
      with:
        labels: "Ветка: Dev" 
